/* =========================
   BASE / GLOBAL STYLES
========================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #0b0202;
  color: #ffffff;
  overflow-x: hidden;
}

/* GLOBAL LINKS */
a {
  text-decoration: none;
  color: inherit;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 30px;
  font-size: 0.8rem;
  color: #aaa;
}

/* GLOBAL ANIMATIONS */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* PAGE ENTER EFFECT */
body {
  animation: pageEnter 0.7s ease forwards;
}

@keyframes pageEnter {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
